<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lumen/bootstrap.min.css"
        integrity="sha384-GzaBcW6yPIfhF+6VpKMjxbTx6tvR/yRd/yJub90CqoIn2Tz4rRXlSpTFYMKHCifX" crossorigin="anonymous">
    <title>BIENVENIDOS AL PORTAL DE ECOSPORT-YPF/ Ver.2021.07.04</title>

</head>

<body>
    <h5>BIENVENIDOS AL PORTAL DE ECOSPORT-YPF/ Ver.2021.07.04</h5>
    <!-- <pre>
        <% t_cargas.forEach(function(carga){ %>
                <h4> <%= carga.n_ticket %></h4>
        <% }) %>
    </pre> -->
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/add" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" name="to" placeholder="Razón Social">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="litros_ch" placeholder="20.00">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="product" placeholder="Nafta Infinia">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="n_ticket"
                                    value="3712d21e-fa92-4d61-9ec5-64a8a9d60a92">
                            </div>
                            <button class="btn btn-primary" type="submit">
                                Agregar
                            </button>
                            <!-- <button class="btn btn-lg btn-danger">BORRAR</button> -->
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Ticket</th>
                            <th>Fecha</th>
                            <th>Litros</th>
                            <th>Total $</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% t_cargas.forEach(function(carga) { %>
                            <tr>
                                <td><%= carga.n_ticket %></td>
                                <td><%= carga.created_at %></td>
                                <td><%= carga.litros_ch %></td>
                                <td><%= carga.price %></td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>